<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{# stylesheets.load }}
      bootstrap.min.css
      style.css
      google_prettify/sons-of-obsidian.css
    {{/ stylesheets.load }}

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{urls.base_path}}">{{ data.title }}</a>
          <ul class="nav">
            {{# data.navigation?to__root }}
              {{> pages_list }}
            {{/ data.navigation?to__root }}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-narrow">

      <div class="content">
        {{{ content }}}
      </div>

      <hr>
      <div class="footer">
        <p>&copy; {{ data.author.name }} 2013
        </p>
      </div>

    </div> <!-- /container -->

    {{{ widgets.my_prettify }}}
  </body>
</html>
